
.works {
	padding: 15px 0px;
}

.project {
	display: inline-block;
	vertical-align: top;
	width: 183px;
	text-align: center;
	margin: 0px 15px 5px 15px;
	margin-bottom: 40px;
}
.hover-img {
	height: 127px;
	overflow: hidden;
	position: relative;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	-ms-border-radius: 4px;
}
.project-img {
	width: 100%;
	height: 100%;
}
.hover-img .zoom-wrapper {
	position: absolute;
	width: 100%;
	top: 50px;
	text-align: center;

	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.hover-img:hover .zoom-wrapper {
	transform: scale(1);
	-webkit-transform: scale(1);
}
.hover-img .zoom-link {
    font-size: 12px;
    border: 1px solid #eff3f7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 4px;
}

.hover-img:hover .project-img{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.hover-img:hover {
	  background-color: rgb(1, 108, 164);
}

.project-link a{
	font-family: "fira_sanslight_italic";
	font-size: 13px;
	text-decoration: none;
	color: #3ba8c0;
}
.project_descr {
	font-family: "fira_sansbook";
	font-size: 15px;
	color: #4a545d;
	font-weight: 400;
	line-height: 1.2;
	padding: 10px 5px;
	text-align: justify;
}

.project.newproject {
	cursor: pointer;
	position: relative;
	border: 2px dashed #3ba8c0;
	border-radius: 4px;
	width: 180px;
	height: 125px;
	text-align: center;
	background-color: #edf8fc;
}

.sprite-addproject {
	position: absolute;
	top : 40px;
	left : 70px;
    width: 32px;
    height: 32px;
    font-size: 0;
    background-position: -5px -5px;
}

.addproject {
	position: absolute;
	padding-top: 80px;
	left:0;
	height: 100%;
	width: 100%;
	display: inline-block;
	font: normal 13px 'fira_sanslight';
	color: #3ba8c0;
    text-decoration: none;
}

.project.newproject:hover {
	background-color: #FFF;
}
